.projects-container{
    text-align: center;
    width: 100%;
}
.projects-title{
    font-weight: lighter;
    letter-spacing: 2ch;
  }
  ngb-carousel{
      widht: 100%;
  }
  .image{
      width: 100%;
  }